.idea
.vscode
*__pycache__

.git
.gitignore

README.md
documentation_images

.pytest_cache
.venv
venv

.pdm-python
.dev.env
.dev.env_example
.test.env_example
.prod.env_example

Dockerfile
docker-compose.yml
Dockerfile.nginx
.dockerignore