.idea
.vscode
*__pycache__

.git
.gitignore

README.md
documentation_images

.pytest_cache
.pdm-python

venv
.venv
.env.dev
.env.test
.env.prod
.env_example.dev
.env_example.test
.env_example.prod

Dockerfile
docker-compose.yml
Dockerfile.nginx
.dockerignore